<% provide(:title, 'About') %>
<h2> About Wheres My Lane </h2> 
<hr>


<p id="indent"> 
	<br>
	Where's My Lane is an application developed by three students attending Brandeis University. It was designed to help the City of Boston collect data on the incidence of double parked cars. The city will use this data to decide how to deploy its resources to alleviate the issue in problem areas.</br></br><strong>Questions? Comments? Concerns?... Send them to wheresmylane@gmail.com</strong>
</p> 