<% provide(:title, 'Heat Map') %>

<head> 
  <%= render 'heatMap' %>
</head>

<body onload="initialize()">
  <div class="row">
    	
    <div class = "span12">
      <div  id="map_canvas" > </div>
    </div>

    <!-- Display options for heatmap based on time od day, day of week...--> 
    <div id="displaybox" class = "span4" >
    	<div id="margin" >
    		<span class="clear">
                </br></br>
                <p align="center">
                     <button onclick="all()" class="btn btn-primary">All Data</button></br>
                    <hr>
                    Choose how you would like to display the data:
                </p>
                 </br>
                <%= render 'options_form' %>

                <button onclick="monday()" class="btn btn-primary">Monday Data</button>
                <button onclick="tuesday()" class="btn btn-primary">Tuesday Data</button>
               
    		</span>

		</div>
    </div> 
	
  </div>
</body>