
<% provide(:title, 'Heat Map') %>

<head> 
  <%= render 'heatMap' %>
</head>

<body onload="initialize()">
  <div class="row">
    	
    <div class = "span12">
      <div  id="map_canvas" > </div>
    </div>

    <!-- Display options for heatmap based on time od day, day of week...--> 
    <div id="displaybox" class = "span4" >
    	<div id="margin" >
    		<span class="clear">
                </br>
                 </br>
                <%= render 'options_form', :path => heatMap_path %>
    		</span>

		</div>
    </div> 
	
  </div>
</body>