<head> 
  <%= render 'heatMap' %>
</head>

<body onload="initialize()">
    <div id="map_canvas" ></div>
    <button onclick="toggleHeatmap()">Toggle Heatmap</button>
    <button onclick="changeGradient()">Change gradient</button>
    <button onclick="changeRadius()">Change radius</button>
    <button onclick="changeOpacity()">Change opacity</button>
  </body>