<!--HOME PAGE FOR WHERE'S MY LANE? --> 
<!--*******************************-->

<% provide(:title, 'Home') %>
<table class = "table table-striped">
  <tr>
    <th><h2>Updates:</h2></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @messages.each do |message| %>
    <tr>
      <td><strong><%= message.content %></strong></td>
      <td><%= link_to 'Show', showMessage_path %></td>
      <td><%= link_to 'Edit', editMessage_path(message) %></td>
      <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br />