
  <% if signed_in? && current_user.admin? && !current_user?(user) %>
   <p> 
    <%= link_to "Would you like to delete this user?", user, method: :delete,
                                  data: { confirm: "Are you sure you would like to delete this user?" } %>
</p>
  <% end %>
