<li>
  <%= link_to the_user.email, user %>
  <% if signed_in? && current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "Are you sure you would like to delete this user?" } %>
  <% end %>
</li>