

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}


body {
  padding-top: 38px;
  background-color: #E6E6FA;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #87CEFA;

}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: normal;
  color: #808080;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#indent{
    margin-left: 20px;
    margin-right: 200px; 
  }

#bottom{
  position: absolute; 
  bottom: 100px;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.7em;
  color: #FA8072;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: .5px;
  font-weight: bold;
  line-height: 2;
  &:hover { 
      color: #FA8072;
    }
}

/* UPDATES BOX ON HOME PAGE */
#displaybox {
  position:fixed; top:50px; left:-20px; width:250px; height:100%; 
  background-color:#FFFAFA ;
  border-style:solid;
  border-width:1px;
  border-color:#000000;

  h2 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: normal;
    color: #808080;    
  }

  #margin{
    margin-left: 10px;
    margin-right: 10px; 
  }

  div.clear{
    opacity:0.4;
  }

}

.timestamp {
  color: #808080;
  text-align: center;
  font-size: .7em;
}

#top{
  margin-top: 30px;
}
