@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

/* neccesary to display map without fuzziness */
img {
  max-width: inherit;
}

body {
  padding-top: 38px;
  background-color: #E6E6FA;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #87CEFA;

}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.7em;
  color: #FA8072;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: .5px;
  font-weight: bold;
  line-height: 2;
  &:hover { 
      color: #FA8072;
    }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* UPDATES BOX ON HOME PAGE */
#displaybox {
  position:fixed; top:90px; left:0px; width:30%; height:70%; 
  background-color:#FFFAFA ;
  border-style:solid;
  border-color:#000000;

  h2 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: normal;
    color: $grayLight;
  }
}
