<footer class="footer">
  <small>
    Where's My Lane? is an incredible mobile App!
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>