<header class = "navbar navbar-fixed-top">
	<h1> Where's My Lane?</h1>
	<div class = "navbar-inner" >
		<div class= "container" >
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "Home",  home_path %></li>
          <li><%= link_to "Create New Message",  newMessage_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
